* {
  box-sizing: border-box;
}
header h1 {
  font-size: 50px;
}
header div{
  position: relative;
  animation-name: movingtext;
  animation-duration: 2s
}
@keyframes movingtext {
  0% {left: 60%}
  100%{left: 0%}

}
form {
  background-color: skyblue;
  padding: 10px;
  border: 1px solid blue;
  border-radius: 20px;
  font-size: 20px;
  font-family: arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
nav{
  border-top: 10px dashed skyblue;
  margin-top: 20px;
  color: blue;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

nav > div {
  margin: 10px;
}
div.main {
  display: flex;
  flex-direction: column;
}
.main .intro {
  display: flex;
  flex-direction: column;
}
.main .intro .string {
  column-count: 3;
}

.main .items {
  background-color: skyblue;
  border-radius: 20px;
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.main .items div {;
  justify-content:center;
  align-items:center;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  height: 200px;
  flex: 25%;
  max-width: 200px;
}
@media (max-width: 800px) {
  .main .items div {
    flex: 50%;
    max-width: 50%;
  }
  .main .intro .string {
    column-count: 2;
  }
}
@media (max-width: 480px) {
  .main .items div {
    flex: 100%;
    max-width: 100%;
  }
  .main .intro .string {
    column-count: 1;
  }
}
.main .items div img {
  width: 100px;
  height: 100px;
}
#spin {
  transition: transform 2s;
}
#spin:hover{
  transform: rotate(360deg);
}
#big {
  transition: transform 2s;
}
#big:hover {
  transform: scale(2, 2);
}
