form {
  background-color: skyblue;
  padding: 10px;
  margin: 10px;
  border: 1px solid blue;
  border-radius: 20px;
  font-size: 20px;
  font-family: arial, sans-serif;
  width: 400px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
}
h1 {
  font-size: 50px;
  height: 90px;
}

nav a{
  color: blue;
  text-decoration: none;
}
.centered {
  text-align: center;
}
